#content
  ss-virtual-scroll
    table#list
      each rowIndex in this.rows
        tr(
          data-row-index=rowIndex,
          (click)=this.toggleSelected(rowIndex)
        )
          td.info
            button
              span i

          td.player
            img.icon(src=`icons/${this.randomInt(0, 14)}.svg`)
            span.name= `${rowIndex} Firstname Lastname`
            span.teams
              b= this.randomChars().toUpperCase()
              span -
              span= this.randomChars().toUpperCase()

          td.point
            span= this.randomInt(1, 100)
          td.point
            span= this.randomInt(1, 100)
          td.point
            span= this.randomInt(1, 100)


small#debug
  span= `page: ${this.page}`
